<section class="section-biodata section" id="about">
  <div class="container grid grid-two-column">
    <div class="bio-image">
      <img src="images/abt.jpg" alt="my bio data image" />
    </div>
    <!-- bio right side data  -->
    <div class="bio-data">
      <h2 class="common-heading">about my project</h2>
      <p>
        I have use HTML, CSS, JavaScript, ExpressJS, and MongoDB to make my project.
        I have made gaming project like snake game,car game, floppy bird game ,number game and I have also made
        Find Weather project and website that took several time.
      </p>
      <br />
      <p>
        The language are used in my project are following.
      </p>
      <div class="bio-data-stats">
        <div class="bio-stats">
          <h3>HTML</h3>
          <div class="bio-progress-bar">
            <span>80%</span>
          </div>
        </div>
        <div class="bio-stats">
          <h3>CSS</h3>
          <div class="bio-progress-bar bio-progress-2">
            <span>99%</span>
          </div>
        </div>
        <div class="bio-stats">
          <h3>JavaScript</h3>
          <div class="bio-progress-bar bio-progress-3">
            <span>90%</span>
          </div>
        </div>
        <div class="bio-stats">
          <h3>ExpressJS</h3>
          <div class="bio-progress-bar bio-progress-4">
            <span>85%</span>
          </div>
        </div>
        <div class="bio-stats">
          <h3>MongoDB</h3>
          <div class="bio-progress-bar bio-progress-5">
            <span>70%</span>
          </div>
        </div>
      </div>
      <div class="bio-data-btn">
        <a href="#" class="btn">Go Back</a>
      </div>
    </div>
  </div>
</section>