<section class="section section-contact" id="contact">
  <div class="container">
    <h2 class="common-heading">Contact Us</h2>
  </div>

  <div class="section-contact-main contact-container">
    <form action="/contact" method="POST">
      <div class="grid grid-two-column">
        <div>
          <label for="username"></label>
          <input type="text" name="name" placeholder="Username" id="username" required autocomplete="off" />
        </div>
        <div>
          <label for="email"></label>
          <input type="email" name="email" placeholder="demo@mail.com" id="email" autocomplete="off" required />
        </div>
      </div>

      <div>
        <label for="phone"></label>
        <input type="mob" maxlength="10" name="phone" placeholder="Phone no" id="subject" />
      </div>
      <div>
        <label for="textarea"></label>
        <textarea name="message" id="textarea" cols="30" rows="10" autocomplete="off" placeholder="Write your message"
          required></textarea>
      </div>

      <div>
        <input type="submit" name="submit" id="submit" class="btn" value="send message" />
      </div>
    </form>
  </div>
</section>