<footer class="section-footer section" id="footer">
    <div class="container foot grid grid-four-column">
        <div class="f-about">
            <h3 class="abt">About</h3>
            <p>
                I have add several project on portfolio section you cane enjoy them by simply click them. Hope you
                like it.
            </p>
        </div>
        <!-- end -->
        <div class="f-links">
            <h3>Links</h3>
            <ul>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#">home</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#about">about</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">portfolio</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#location">location</a>
                </li>

                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#contact">contact</a>
                </li>
            </ul>
        </div>
        <!-- end  -->
        <div class="f-services">
            <h3>Project</h3>
            <ul>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">web design</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">find weather</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">Car game</a>
                </li>

                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">Bird game</a>
                </li>
                <li>
                    <span>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span><a href="#portfolio-section">Snake game</a>
                </li>
            </ul>
        </div>
        <!-- end  -->
        <div class="f-address">
            <h3>Thankyou</h3>
            <address>
                <div>
                    <p>
                        <span>
                            <ion-icon name="location-outline"></ion-icon>
                        </span>
                       NIT Kurukshetra, India
                    </p>
                </div>

                <div>
                    <p>
                        <span>
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                    <a href="tel:+919140117963"> +91 9140117963 </a>
                    </p>
                </div>

                <div>
                    <p>
                        <span>
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <a href="mailto:brijesh24.bk@gmail.com" >
                            brijesh24.bk@gmail.com
                        </a>
                    </p>
                </div>
            </address>
        </div>
    </div>

    <div class="container">
        <div class="f-social-icons">
            <a href="https://github.com/brijesh7963" target="_blank">
                <ion-icon class="icons" name="logo-github"></ion-icon>
            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <ion-icon class="icons" name="logo-facebook"></ion-icon>
            </a>

            <a href="https://twitter.com/" target="_blank">
                <ion-icon class="icons" name="logo-twitter"></ion-icon>
            </a>
        </div>

        <div class="f-credits">
            <p>
                Copyright ©2022 All rights reserved | This site is made by
                Brijesh Kumar
            </p>
        </div>
    </div>
</footer>