<section id="location">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d442534.62968362693!2d76.81441860000001!3d29.94199670000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e46cf85c85d3d%3A0x7f06e815caca33f4!2sKurukshetra%2C%20Haryana!5e0!3m2!1sen!2sin!4v1650100997827!5m2!1sen!2sin" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>