<div class="response">
    <div class="res">
        <h1 id="one">your response is submited</h1>
        <h1 id="two">Please visit us more</h1>
        <h1 id="three">Thankyou</h1>
        <form action="/respnse" method="POST">
       <input type="submit" name="submit" id="submit" class="btn" value="Go Back" />
       </form>
    </div>
</div>